.flex-container{
    display: flex;
}
section#ejercicioflex {
    flex-direction: column;
    justify-content: center;
}
section#ejercicioflex > div{
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
section#ejercicioflex img{
    width: 150px;
}
section#ejercicioflex article{
    flex-direction: column;
    justify-content: center;
}

main{
    flex-direction: column;
    flex-wrap: wrap;
}
.table-row{
    display: -webkit-flex;
    display: inline-flex;
    display: flex;
}
.wrapper{
    display: -webkit-flex; /* Chrome   */
    display: inline-flex;/* IE 9   */
    display: flex; /* W3C */
}
.colum{
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    vertical-align: top;
}
.index{
    width: 15px;
}
.name-surname-dni,
.name-surname,
.address-city-zip_code,
.email-telephone{
    -webkit-flex-grow: 1;
    flex-grow: 1;
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .movil_invisible{
        display: none;
    }
    .laptop_invisible{
        display: block;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .movil_invisible{
        display: block;
    }
    .laptop_invisible{
        display: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
